@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.cdnfonts.com/css/lemonmilk");
/* global css starts here  */
* {
  margin: 0px;
  padding: 0px;
  color: var(--default-font-color);
  font-family: var(--global-font);
}
body {
  background-color: #06071b !important;
  background-image: url("../img/1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}
/* global css ends here  */
/* Typography starts here */
h1 {
  font-family: var(--global-font);
  font-size: 60px;
  font-weight: 700;
  line-height: 1.5;
}
h2 {
  font-family: var(--global-font);
  font-size: 40px;
  font-weight: 700;
  line-height: 1.5;
}
h3 {
  font-family: var(--global-font);
  font-size: 35px;
  font-weight: 700;
  line-height: 1.5;
}
h4 {
  font-family: var(--global-font);
  font-size: 30px;
  font-weight: 600;
  line-height: 1.5;
}
h5 {
  font-family: var(--global-font);
  font-size: 20px;
  font-weight: 600;
  line-height: 1.5;
}
h6 {
  font-family: var(--global-font);
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5;
}
p {
  font-family: var(--global-font);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
}
/* Typography ends here */
/* Header starts here */
header {
  background-color: var(--accent-color-2);
  padding: 20px 0px;
}
header#top .search-wrapper {
  display: flex;
  align-items: center;
  background: #0d0d33;
  border-radius: 7px;
  padding: 4px;
}
header#top .search-wrapper button.search-btn {
  background: #fff;
  height: 40px;
  width: 40px;
  border-radius: 7px;
}
header#top .search-wrapper button.search-btn i {
  color: var(--accent-color-1);
  font-size: 20px;
}
header#top .search-wrapper input {
  background: transparent;
  border: 0px;
  padding: 0px 13px;
}
header#top .search-wrapper input::placeholder {
  color: var(--default-font-color);
  font-family: var(--global-font);
}
header#top .header-menu-wrapper ul {
  list-style: none;
  padding: 0px;
  display: flex;
  align-items: center;
  margin: 0px;
}
header#top .header-menu-wrapper ul li {
  padding: 0px 10px;
}
/* Header ends here */
/* PROFILE starts here */
.profile-sec {
  padding: 40px 0px;
}
.profile-sec .profile-info-wrapper {
  border: 1px solid #394e9c;
  background: var(--accent-color-1);
  border-radius: 29px;
}
.all-profile-detail .col-lg-8 {
  border-left: 1px solid #394e9c;
}
.profile-sec .profile-info-wrapper .profile-img-name-wrapper {
  display: flex;
  align-items: center;
}
.profile-sec .profile-info-wrapper .profile-heading-btn-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 33px 52px;
  align-items: center;
  border-bottom: 1px solid #394e9c;
}
.profile-sec
  .profile-info-wrapper
  .profile-img-name-wrapper
  .profile-name-wrapper {
  margin-left: 29px;
}

.profile-sec
  .profile-info-wrapper
  .profile-img-name-wrapper
  .profile-name-wrapper
  h6 {
  font-size: 12px;
}

.profile-sec
  .profile-info-wrapper
  .profile-img-name-wrapper
  .profile-name-wrapper
  h6
  i {
  margin-right: 10px;
  margin-bottom: 0px;
}
.profile-sec
  .profile-info-wrapper
  .profile-img-name-wrapper
  .profile-img-wrapper {
  position: relative;
}
.profile-sec
  .profile-info-wrapper
  .profile-img-name-wrapper
  .profile-img-wrapper
  button.edit {
  position: absolute;
  left: -17px;
}
.profile-sec
  .profile-info-wrapper
  .profile-img-name-wrapper
  .profile-img-wrapper
  button {
  width: 30px;
  height: 30px;
  font-size: 12px;
  border-radius: 50%;
  background: var(--accent-color-3);
  border: 0px;
}
.profile-sec
  .profile-info-wrapper
  .profile-img-name-wrapper
  .profile-img-wrapper
  span.active {
  position: absolute;
  right: 0px;
  bottom: 4px;
  outline: 4px solid var(--accent-color-1);
}
.profile-sec
  .profile-info-wrapper
  .profile-img-name-wrapper
  .profile-img-wrapper
  img.profile-img {
  height: 69px;
  width: 69px;
  object-fit: cover;
  border-radius: 50%;
}
.profile-heading-btn-wrapper .profile-img-wrapper span.active {
  background: green;
  display: block;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}
.profile-sec .profile-heading-btn-wrapper .profile-btn-wrapper a.btn {
  border: 1px solid grey;
  margin-left: 10px;
  color: var(--default-text-color);
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 600;
}
.profile-sec .profile-heading-btn-wrapper .profile-btn-wrapper a.btn {
  border: 1px solid grey;
  margin-left: 10px;
  color: var(--default-text-color);
  padding: 8px 25px;
  font-size: 14px;
  font-weight: 600;
}
button.probtn {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}
button.probtn i {
  color: #000000;
  font-size: 15px;
}
.verification .view-profile-heading-wrapper {
  margin: 0px !important;
}
.all-profile-detail .view-profile-wrapper {
  padding: 20px;
  border-bottom: 1px solid #394e9c;
}
.all-profile-detail .view-profile-wrapper:last-child {
  border-bottom: 0px;
}
.all-profile-detail .view-profile-wrapper .view-profile-heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 21px;
}
.all-profile-detail
  .view-profile-wrapper
  .view-profile-heading-wrapper
  .profile-btn-wrapper
  button.probtn {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.all-profile-detail
  .view-profile-wrapper
  .view-profile-heading-wrapper
  .profile-btn-wrapper
  button.probtn
  i {
  color: #000000;
}
.all-profile-detail
  .view-profile-wrapper
  .view-profile-heading-wrapper
  .profile-btn-wrapper {
  margin-left: 20px;
}
.all-profile-detail .view-profile-wrapper .view-detail-wrapper a {
  color: var(--default-text-color);
  text-decoration: none;
  display: block;
}
.all-profile-detail .view-profile-wrapper .view-detail-wrapper button {
  background: transparent;
  border: 0px;
  font-size: 12px;
  margin-top: 29px;
}
/* profile about starts here */
.about-pro-wrapper {
  padding: 30px;
}
.about-pro-wrapper .proheading-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 28px;
}
.about-pro-wrapper .proheading-wrapper .proname-wrapper {
  justify-content: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.about-pro-wrapper .proheading-wrapper .pro-hour-wrapper .hour-heading-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about-pro-wrapper .about-pro-content-wrapper {
  display: flex;
  align-items: flex-start;
}
.about-pro-wrapper .about-btn-wrapper button.none {
  background: transparent;
  border: 0;
}
.profile-sec .consultation-wrapper {
  padding: 22px 22px;
  display: flex;
  border: 1px solid;
  border-radius: 13px;
  margin: 0px 29px;
  flex: 0 0 100%;
}

.profile-sec .consultation-wrapper .consultation-img-wrapper img {
  height: 131px;
  width: 131px;
  border: 2px solid grey;
  border-radius: 8px;
}

.profile-sec .consultation-wrapper .consultation-img-wrapper figure {
  margin: 0px;
}

.profile-sec .consultation-wrapper .consultation-content-wrapper {
  display: flex;
  justify-content: space-between;
  flex: 0 0 77%;
}

.profile-sec .consultation-wrapper .consultation-img-wrapper {
  flex: 0 0 22%;
}

.profile-sec .consultation-wrapper .consultation-content-wrapper span {
  background-image: linear-gradient(
    to right,
    #35bafe,
    #00a7ff,
    #008fff,
    #646eff,
    #a334ff
  );
  padding: 4px 15px;
  border-radius: 14px;
  color: #000;
  font-weight: 600;
  margin: 17px 0px;
  display: inline-block;
}
.portfolio-wrapper {
  padding: 30px;
  border-top: 1px solid #13144d;
  border-bottom: 1px solid #13144d;
  margin-top: 34px;
}
.portfolio-wrapper .portfolio-heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 48px;
  margin-top: 33px;
}

.portfolio-wrapper .portfolio-content-wrapper {
  text-align: center;
}

.portfolio-wrapper .portfolio-content-wrapper button {
  font-weight: 600;
  background: transparent;
  border: 0px;
}

.portfolio-wrapper .portfolio-content-wrapper .content-wrapper {
  margin-top: 55px;
}
.skils-wrapper {
  padding: 30px;
  border-bottom: 1px solid #13144d;
}

.skils-wrapper .skils-heading-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 28px;
}

.skils-wrapper .skils-heading-wrapper h5 {
  margin: 0px;
}

.skils-wrapper .skils-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.skils-wrapper .skils-content-wrapper a.btn {
  color: var(--defaul-font-color);
  border: 1px solid;
  margin: 11px 0px;
  flex: 0 0 31%;
  border-radius: 33px;
  padding: 10px 0px;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #35bafe, #a334ff);
}
/* profile about ends here */
/* PROFILE ends here */
/* testimonails starts here */
.testimonails-box-wrapper {
  border: 1px solid #394e9c;
  background: var(--accent-color-1);
  border-radius: 29px;
}
.testimonails-box-wrapper .testimonails-heading-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 54px 44px;
  border-bottom: 1px solid #394e9c;
}
.testimonails-box-wrapper .testimonails-heading-wrapper p {
  margin: 0px;
}
.testimonails {
  padding: 40px 0px 0px 0px;
}
.testimonails-box-wrapper
  .testimonails-heading-wrapper
  .testimonails-btn-wrapper
  button {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.testimonails-box-wrapper
  .testimonails-heading-wrapper
  .testimonails-btn-wrapper
  button
  i {
  background: -webkit-linear-gradient(#3cb1fe, #9e3aff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}
.testimonails .testimonails-box-wrapper .testimonails-content-wrapper {
  padding: 58px 0px;
  text-align: center;
}
.testimonails
  .testimonails-box-wrapper
  .testimonails-content-wrapper
  .testimonails-empty-text-wrapper {
  margin-top: 33px;
}
.testimonails
  .testimonails-box-wrapper
  .testimonails-content-wrapper
  .btn-wrapper
  a {
  color: var(--default-text-color);
  text-decoration: none;
  margin: 0px 30px;
  font-weight: 600;
}
.testimonails
  .testimonails-box-wrapper
  .testimonails-content-wrapper
  .btn-wrapper {
  margin-top: 33px;
}
/* testimonails ends here */
/* FOOTER starts here */
footer {
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 100px;
}
footer .footer-heading-wrapper h4 {
  font-weight: 500;
  font-size: 22px;
}
footer .footer-widget-wrapper .footer-content-wrapper ul {
  padding: 0px;
  margin-top: 30px;
  list-style: none;
}
footer .footer-widget-wrapper .footer-content-wrapper ul li {
  line-height: 2;
}
footer .footer-widget-wrapper .footer-content-wrapper ul li a {
  color: var(--default-font-color);
  text-decoration: none;
  display: block;
  padding: 4px 0px;
}
footer .footer-widget-wrapper .footer-content-wrapper.site-map-wrapper ul li a {
  padding: 13px 0px !important;
}
#copyright {
  padding: 20px 0px;
  background-image: url("../img/copyright-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
#copyright p {
  margin: 0px;
  text-align: center;
}
/* footer .footer-heading-wrapper h4 */
